/* Importamos la fuente personalizada */

@import url('https://fonts.cdnfonts.com/css/cmu-serif');

/* Definimos la gama de colores */
:root {
--naranja: #6b2b00;
--color-texto-articulo: #ffffffb7;
--color-descripcion-imagenes: #ffb27f;
--anchura-contenido: 800px;
}


/* Establecemos los estilos generales del cuerpo */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scrollbar-width: none !important;
    }

body {
    font-family: 'CMU Serif', serif;
    background-color: black;
    color:var(--color-texto-articulo);
    user-select: text;
}

/* Se definen los estilos para los encabezados */
    
h1 {
    color: #ffffff;
}

h2 {
    color: #e0e0e0;
}

h3 {
    color: #b0b0b0;
}

h4 {
    color: #808080;
}

h5 {
    color: #606060;
}

h6 {
    color: #404040;
}

p {
    padding: 10px 0px;
}

/* Definimos estilo para los botones */

button {
    background-color: var(--naranja);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'CMU Serif', serif;
}

button:hover {
    background-color: var(--naranja);
}   

/* Estilos para los enlaces */

a {
    color: var(--naranja);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

/* Estilo al seleccionar texto */

::selection { 
    color: white; /* Color de la letra */ 
    background: var(--naranja); /* Color de fondo al seleccionar */ }

/* Estilo para texto en cursiva */

i {
    font-style: italic;
}

/* Estilos para la imagen de portada */

.portada-imagen {
    height: 100vh;              /* 100% de la altura del viewport */
    width: 100%;
    object-fit: cover;         /* que cubra todo */
    position: relative;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
}

.portada-titulos {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

.portada-titulo {
    font-size: 3rem;
    font-weight: bold;
}

.portada-subtitulo {
    font-size: 1.5rem;
    font-style: italic;
}

/* Estilos para las imagenes dentro del articulo */

figure img {
    width: 100%;
}

figure.anchura-completa img {
    width: 100vw;
    padding: 0px;
}

figure.anchura-completa figcaption{
    padding: 10px 10px 0px 0px;
}

/* Estilo para la descripción de las imagenes */

figcaption {
    padding: 10px 10px 0px 10px;
    font-size: 0.85rem;
    text-align: right;
    font-style: italic;
    max-width: var(--anchura-contenido);
    margin: 0 auto;
    color:var(--color-descripcion-imagenes);
}

article figcaption {
    padding: 10px 0px 0px 0px;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: var(--anchura-contenido);
    margin: 0 auto;
    padding: 0px 10px;
}
