/* Importamos la fuente personalizada */

@import url('https://fonts.cdnfonts.com/css/cmu-serif');

/* Definimos la gama de colores y propiedades generales*/
:root {
    /* Colores */
    --naranja: #6b2b00;
    --naranja-claro: #ffba8d;
    --color-texto-articulo: #ffffffb7;
    --color-titulos: #dfa776;
    --color-descripcion-imagenes: #ffb27f;
    --gris: #121212;
    --color-enlaces: #ffe1c9de;
    /* Anchos */
    --anchura-contenido: 800px;
}

/* Establecemos los estilos del cuerpo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none !important;
}

body {
    font-family: 'CMU Serif', serif;
    font-size: 20px;
    background-color: black;
    color: var(--color-texto-articulo);
    user-select: text;
}

/* Se definen los estilos para los encabezados */

h1,
h2,
h3 {
    color: var(--color-titulos);
}

h4 {
    color: #808080;
}

h5 {
    color: #606060;
}

h6 {
    color: #404040;
}

section {
    text-align: justify;
}

p {
    padding: 10px 0px;
}

/* Definimos estilo para los botones */

button {
    background-color: var(--naranja);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'CMU Serif', serif;
    font-size: 1em;
}

button:hover {
    background-color: var(--naranja);
}


/* Se da formato al subrayado de los enlaces dentro de los botones */
button a {
    text-decoration: underline;
    text-decoration-color: #ffffff67;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
}


/* Estilos para los enlaces */

a {
    color: var(--color-enlaces);
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

a:hover {
    cursor: pointer;
}

/* Estilo al seleccionar texto */

::selection {
    color: white;
    /* Color de la letra */
    background: var(--naranja);
    /* Color de fondo al seleccionar */
}

/* Estilo para texto en cursiva */

i {
    font-style: italic;
}

/* Estilo de la linea divisora */

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, var(--color-descripcion-imagenes) 50%, transparent);
    width: 50%;
    max-width: var(--anchura-contenido);
    margin: 0 auto;
}

/* Estilo para la frase de portada */

cite.portada {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.75rem;
    height: 100vh;
    /* 100% de la altura del viewport */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70));
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent)
}

.frase-autor {
    font-style: normal;
    display: block;
    margin-top: 20px;
    text-align: right;
    width: fit-content;
    object-position: right;
    text-align: right;
    display: block;
    margin-left: auto;
    margin-right: 0;
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
}

.frase-contexto {
    font-style: normal;
    font-size: 0.6em;
    display: block;
    margin: 10px auto 0 auto;
    text-align: right;
}

cite .frase-contexto {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

/* Estilos para la imagen de portada */

figure.portada img {
    height: 100vh;
    /* 100% de la altura del viewport */
    width: 100%;
    object-fit: cover;
    /* que cubra todo */
    position: relative;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
}

.portada-titulos {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

.portada-titulo {
    font-size: 3rem;
    font-weight: bold;
}

.portada-subtitulo {
    font-size: 1.5rem;
    font-style: italic;
}

/* Estilos para las imagenes dentro del articulo */

figure img {
    width: 100%;
}

figure.anchura-completa img {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    max-width: none;
}

figure.anchura-completa figcaption {
    padding: 10px 10px 0px 10px;
}

figure.portada figcaption {
    padding: 10px 10px 20px 10px;
}

/* Estilo para la descripción de las imagenes */

figcaption {
    padding: 10px 10px 0px 10px;
    font-size: 0.85rem;
    text-align: right;
    font-style: italic;
    max-width: var(--anchura-contenido);
    margin: 0 auto;
    color: var(--color-descripcion-imagenes);
}

article figcaption {
    padding: 10px 0px 0px 0px;
}

article {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: var(--anchura-contenido);
    margin: 0 auto;
    padding: 20px 10px 0px 10px;
}

article p {
    text-align: justify;
}

article button {
    display: block;
    margin: 0px auto;
}

/* Se ajustan los encabezados dentro de las secciones para que estén centrados */

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {

    .frase-autor {
        width: 100%;
        text-align: center;
        font-size: clamp(1.5rem, 1rem + 2vw, 3rem);
    }
    cite .frase-contexto {
        width: 100%;
        /* ocupa todo el ancho */
        margin: 0 auto;
        /* elimina el auto-margin */
    }
}