/* Importamos la fuente personalizada */

@import url('https://fonts.cdnfonts.com/css/cmu-serif');

/* Definimos la gama de colores */
:root {
--naranja: #6b2b00;
}

/* Establecemos los estilos generales del cuerpo */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    
    }

body {
    font-family: 'CMU Serif', serif;
    background-color: black;
    color: #ffffff;
    
}

/* Se definen los estilos para los encabezados */
    
h1 {
    color: #ffffff;
}

h2 {
    color: #e0e0e0;
}

h3 {
    color: #b0b0b0;
}

h4 {
    color: #808080;
}

h5 {
    color: #606060;
}

h6 {
    color: #404040;
}

p {
    padding: 10px 0px;
}

/* Definimos estilo para los botones */

button {
    background-color: var(--naranja);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'CMU Serif', serif;
}

button:hover {
    background-color: var(--naranja);
}   

/* Estilos para los enlaces */

a {
    color: var(--naranja);
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

/* Estilo al seleccionar texto */

::selection { 
    color: white; /* Color de la letra */ 
    background: var(--naranja); /* Color de fondo al seleccionar */ }

i {
    font-style: italic;
}

/* Estilos para la imagen de portada */

.portada-imagen {
    height: 100vh;              /* 100% de la altura del viewport */
    width: 100%;
    object-fit: cover;         /* que cubra todo */
    position: relative;
    mask-image: linear-gradient(to bottom, black 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent);
}

.portada-titulos {
    position: absolute;
    bottom: 0px;
    padding: 20px;
}

.portada-titulo {
    font-size: 3rem;
    font-weight: bold;
}

.portada-subtitulo {
    font-size: 1.5rem;
    font-style: italic;
}

.portada-descripcion {
    position: static;
    padding: 10px 10px;
    font-size: 1rem;
    color: rgb(255, 242, 177);
    text-align: right;
    font-style: italic;
}

.articulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.articulo img.anchura-completa {
    max-width: 100vw;
}

.articulo img.anchura-al-texto {
    width: 100%;
}