---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>

<style>
    .lista-enlaces ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        gap: 20px;
        padding: 0;
        margin: 0px 0px 10px 0px;
        text-align: center;
    }

    li {
        text-align: justify
    }


    h1 {
        font-variant: small-caps;
    }

    h2 {
        color: var(--color-enlaces);
        font-variant: small-caps;
        margin: 10px 0px 5px 0px;
    }

    hr {
        margin: 5px auto;
    }

    article {
        max-width: 1050px;
        width: 90%;
        margin: 0 auto;
    }

    .boton-descargar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .formato-harvard {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0px 50px;
        /* padding: 0px !important; */
    }

    p {
        text-align: justify;
        margin: 0px !important;
        padding: 5px 0px !important;
    }

    .nombre-lugar,
    .nombre-lugar a {
        color: var(--naranja-claro);
    }

    .titulo-puesto {
        color: var(--color-enlaces);
    }

    .subseccion {
        padding: 20px 0px 0px 0px;
    }

    .subseccion p {
        padding: 0px !important;
        margin: 0px !important;
    }

    .subseccion div {
        padding: 2px 0px 0px 0px !important;
        margin: 0px !important;
    }

    @media print {
        @page {
            margin: 10px 20px !important;
        }

        .formato-harvard {
            margin: 0px !important;
            padding: 0px !important;
        }

        p {
            text-align: justify;
            margin: 0px !important;
            padding: 0px !important;
        }

        .nombre-lugar,
        .nombre-lugar a,
        .nombre-lugar p {
            padding: 0px 0px 0px 0px !important;
        }

        h2,
        h1 {
            margin: 5px 0px !important;
        }

        hr {
            margin: 0px auto !important;
            /* display: none; */
        }

        .lista-enlaces ul {
            /* display: none; */
            margin: 0px !important;
            padding: 0px !important;
            font-size: 14px !important;
            align-items: center !important;
        }

        .subseccion {
            padding: 0px !important;
        }

        .nombre-lugar a {
            color: var(--color-enlaces) !important;
            text-decoration: underline !important;
        }
    }
</style>

<body>

    {% include selectordeidioma.html %}
    <article>
        <div id="contacto">
            <h1>Carlos Alberto Villarreal Noyola</h1>

            <h2 class="content-es">Físico & Matemático </h2>
            <h2 class="content-en">Physicist & Mathematician </h2>

            <div class="lista-enlaces">
                <ul>
                    <li>
                        🌐<a href="https://abstractions.blog">Blog</a>
                    </li>
                    <li>
                        🌐<a href="https://github.com/elcaballerodelatierra">GitHub</a>
                    </li>
                    <li>
                        🌐<a href="https://linkedin.com/in/cavn/">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>

        <div id="perfil-profesional">
            <div class="content-es">
                <h2>Perfil profesional</h2>
                <hr>
                <p>
                    Me encanta abordar problemas complejos a través de la deducción y la abstracción. Me encanta
                    aprender y
                    aplicar mis conocimientos a proyectos que buscan no solo el avance tecnológico, sino también un
                    impacto
                    positivo en la sociedad y el medio ambiente.
                </p>

                <p>
                    <b>Habilidades técnicas:</b> Jira | Figma | HTML | CSS | JavaScript | Git | MySQL | Java | Python |
                    R
                </p>
                <p>
                    <b>Habilidades blandas:</b> Liderazgo | Proactividad | Resiliencia | Adaptabilidad | Creatividad
                </p>
            </div>


            <div class="content-en">
                <h2>Professional profile</h2>
                <hr>
                <p>

                    Technology professional driven by the challenge of solving complex problems through structured
                    thinking and abstraction. I specialize in designing scalable systems for a positive impact on
                    humanity and the planet earth.

                </p>

                <p>
                    <b>Hard skills:</b> Jira | Figma | HTML | CSS | JavaScript | Git | MySQL | Java | Python | R
                </p>
                <p>
                    <b>Soft skills:</b> Leadership | Proactivity | Resilience | Adaptability | Creativity
                </p>
            </div>

        </div>

        <div id="experiencia-laboral">
            <div class="content-es">
                <h2>Experiencia Laboral</h2>
                <hr>

                <div id="konfront" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Konfront</b></p>
                        <p><b>Agosto 2025 - Enero 2026</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Full Stack Developer</b>
                        </p>
                        <p><b>Remoto - México</b></p>
                    </div>
                    <ul>
                        <li>
                            Lideré la reestructuración de bases de datos de proyectos heredados, simplificando las
                            relaciones entre tablas y optimizando los procesos de carga de datos, logrando una mejora
                            del 50% en el rendimiento.
                        </li>
                        <li>
                            Co-diseñé la arquitectura de bases de datos y los flujos de usuario desde la etapa
                            conceptual inicial de un nuevo proyecto, traduciendo los requisitos comerciales en
                            soluciones técnicas escalables.
                        </li>
                    </ul>
                </div>

                <div id="safedog" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b><a
                                    href="https://elcaballerodelatierra.github.io/SafeDog/">SafeDog</a></b></p>
                        <p><b>Junio - Diciembre 2024</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Full-Stack Developer & Scrum Master</b></p>
                        <p><b>Remoto, México</b></p>
                    </div>
                    <ul>
                        <li>Lideré un equipo de diez personas mediante la metodología Scrum, creando una plataforma web funcional en 3 meses.</li>
                        <li>Diseñé la página principal, añadiendo funcionalidades únicas como un diseño intuitivo y geolocalización, logrando una retención y un crecimiento sostenible del 50 % en el primer mes de funcionamiento. </li>
                    </ul>
                </div>

                <div id="CDA-IPN" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Centro de Desarrollo Aeroespacial, IPN</b></p>
                        <p><b>Enero 2023 - Junio 2024</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Asistente de Investigación</b></p>
                        <p><b>Híbrido, México</b></p>
                    </div>
                    <ul>
                        <li>Implementé un plan de trabajo basado en la metodología de la NASA para satélites CubeSat.
                        </li>
                        <li>Construí circuitos, optimizando el rendimiento y reduciendo los costos de producción a la
                            mitad.</li>
                                            </ul>
                </div>

                <div id="FC-UNAM" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Facultad de Ciencias, UNAM</b></p>
                        <p><b>Enero - Julio 2023</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Asistente de Investigación</b></p>
                        <p><b>Remoto, México</b></p>
                    </div>
                    <ul>
                        <li>Programé modelos matemáticos con bibliotecas especializadas de Python como NetworkX, NDlib y
                            Pyvis.</li>
                        <li>Creé un nuevo algoritmo de difusión de información para redes complejas.</li>
                    </ul>
                </div>
            </div>
        </div>



        <div id="educacion">
            <div class="content-es">
                <h2>Educación</h2>
                <hr>
                <div id="UNAM" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Universidad Nacional Autónoma de México (UNAM)</b></p>
                        <p><b>Junio 2023</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto">Facultad de Ciencias, Licenciatura en <b>Matemáticas</b></p>
                        <p><b>Ciudad de México, México</b></p>
                    </div>
                    <div>
                        <p>Tesis: Entendiendo y atacando la corrupción, un análisis a través de teoría de redes y teoría
                            de
                            juegos de sistemas sociales y su evolución.</p>
                    </div>
                </div>

                <div id="IPN" class="subseccion">
                    <div class="titulos">
                        <div class="formato-harvard">
                            <p class="nombre-lugar"><b>Instituto Politécnico Nacional (IPN)</b></p>
                            <p><b>Junio 2021</b></p>
                        </div>
                        <div class="formato-harvard">
                            <p class="titulo-puesto">Escuela Superior de Física y Matemáticas, Licenciatura en
                                <b>Física</b>
                            </p>
                            <p><b>Ciudad de México, México</b></p>
                        </div>
                    </div>
                    <div>
                        <p>Tesis: Diseño y creación del subsistema de potencia eléctrica para un satélite CubeSat de
                            tres
                            unidades.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="habilidades-y-cursos">
            <div class="content-es">
                <hr>
                <h2>Habilidades y Cursos</h2>
                <hr>
                <ul>
                    <li><b>Inglés:</b> TOEFL IBT C1</li>
                    <li><b>Desarrollador Java Full Stack:</b> AIFYC Texas Institute & Generation Mexico</li>
                </ul>
            </div>

            <div class="content-en">

                <h2>Experience</h2>
                <hr>
                <div id="konfront-en" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Konfront</b></p>
                        <p><b>August 2025 - January 2026</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Full-Stack Developer</b></p>
                        <p>Remote - México</p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Led the restructuring of legacy project databases, simplifying table relationships and
                                optimizing data loading processes, achieving a 50% performance improvement.
                            </li>
                            <li>
                                Co-designed database architecture and user flows from the early conceptual stage of a
                                new project, translating business requirements into scalable technical solutions.
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="safedog-en" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar">
                            <b><a href="https://elcaballerodelatierra.github.io/SafeDog/">SafeDog</a></b>
                        </p>
                        <p><b>June - December 2024</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto">
                            <b>Full-Stack Developer & Scrum Master</b>
                        </p>
                        <p>Remote, México</p>
                    </div>
                    <div>
                        <ul>
                            <li>Managed a team of ten people through Scrum methodology, creating a functional web
                                platform in 3 months</li>
                            <li>Designed the main page, adding unique functionalities as an intuitive design and
                                geolocation, achieving retention and sustainable growth of 50% in the first month of
                                operation.</li>
                        </ul>
                    </div>
                </div>

                <div id="CDA-IPN-en" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Aerospace Development Center, IPN</b></p>
                        <p><b>January 2023 - June 2024</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Research Assistant</b></p>
                        <p>Hybrid, México</p>
                    </div>
                    <div>
                        <ul>
                            <li>Implemented a work plan based on NASA methodology for CubeSat satellites.</li>
                            <li>Constructed circuits, optimizing performance and reduced production costs by half.</li>

                        </ul>
                    </div>
                </div>

                <div id="FC-UNAM-en" class="subseccion">
                    <div class="formato-harvard">
                        <p class="nombre-lugar"><b>Faculty of Sciences, UNAM</b></p>
                        <p><b>January - July 2023</b></p>
                    </div>
                    <div class="formato-harvard">
                        <p class="titulo-puesto"><b>Research Assistant</b></p>
                        <p>Remote, México</p>
                    </div>
                    <div>
                        <ul>
                            <li>Programmed mathematical models, with python specialized libraries like NetworkX, NDlib
                                and
                                Pyvis.</li>
                            <li>Created a new information diffusion algorithm for complex networks.</li>
                        </ul>
                    </div>
                </div>
            </div>

                <div class="content-en">
                    <h2>Education</h2>
                    <hr>
                    <div id="UNAM-en" class="subseccion">
                        <div class="formato-harvard">
                            <p class="nombre-lugar"><b>National Autonomous University of México (UNAM)</b></p>
                            <p><b>June 2023</b></p>
                        </div>
                        <div class="formato-harvard">
                            <p class="titulo-puesto">Faculty of Sciences, bachelor’s degree in <b>Mathematics</b></p>
                            <p>Mexico City, México</p>
                        </div>
                        <div>
                            <p>Thesis: Understanding and striking corruption, an analysis through network theory and
                                game
                                theory
                                of social systems and their evolution.</p>
                        </div>
                    </div>
                    <div id="IPN-en" class="subseccion">
                        <div class="formato-harvard">
                            <p class="nombre-lugar"><b>National Polytechnic Institute (IPN)</b></p>
                            <p><b>June 2021</b></p>
                        </div>
                        <div class="formato-harvard">
                            <p class="titulo-puesto">Higher School of Physics and Mathematics, bachelor’s degree in
                                <b>Physics</b>
                            </p>
                            <p>Mexico City, México</p>
                        </div>
                        <div>
                            <p>Thesis: Design and creation of the electrical power subsystem for a three-unit CubeSat
                                satellite.
                            </p>
                        </div>
                    </div>
                <div class="content-en">
                    <h2>Skills & Courses</h2>
                    <hr>
                    <ul>
                        <li><b>English:</b> TOEFL IBT C1</li>
                        <li><b>Java Full Stack Developer:</b> AIFYC Texas Institute & Generation Mexico</li>
                    </ul>
                </div>
        </div>
    </article>

    {% include descargarPagina.html texto-boton-descargar-es="Descargar CV" texto-boton-descargar-en="Download CV" %}

</body>

</html>