<div class="autor" style=" display: flex;
justify-content: center;
flex-direction: column;
align-items: center; text-align: center; margin: 20px 0px;">
    <hr>
    <img src="/assets/templates/autor/CAVN-BYN.png" alt="C.A.V.N."
        style="width:150px; height:auto; border-radius: 50%; padding: 20px;">
    <div class="content-es">
        <span style="font-size: 1.3rem; font-weight: bold; color: var(--color-titulos);">
            Carlos Alberto Villarreal Noyola
        </span> <br>
        <cite style="margin: 10px 0px;">"Llevar a la humanidad a romper sus propios límites"</cite> <br>
        <span style="font-size: 1rem;">Físico y Matemático</span>
    </div>
    <div class="content-en" style="display: none;">
        <span style="font-size: 1.3rem; font-weight: bold; color: var(--color-titulos);">
            Carlos Alberto Villarreal Noyola
        </span> <br>
        <cite style="font-size: 1.2rem;">"Leading humanity to break its own limits"</cite> <br>
        <span style="font-size: 1rem;">Physicist and Mathematician</span>
    </div>
</div>