<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firma</title>
</head>
<body>
    <div style=" display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;">
        <img src="/assets/templates/autor/CAVN-BYN.png" alt="C.A.V.N." style="width:150px; height:auto; border-radius: 50%;">
        Carlos Alberto Villarreal Noyola
        <i>"Llevar a la humanidad a romper sus propios limites"</i> 
        
    </div>
</body>
</html>