<style>
    .autor-logo-link {
        display: block;
        width: fit-content;
        margin: 0 auto;
        transition: transform 0.3s ease;
    }
    .autor-logo-link:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
</style>

<div class="autor" style=" display: flex;
justify-content: center;
flex-direction: column;
align-items: center; text-align: center; margin: 20px 0px;">
    <hr>
   <a href="/cavn" class="autor-logo-link"><img src="/assets/templates/autor/CAVN-BYN.png" alt="C.A.V.N."
        style="width:150px; height:auto; border-radius: 50%; padding: 20px;">
    </a>
    <div class="content-es">
        <span style="font-size: 1.3rem; font-weight: bold; color: var(--color-titulos);">
            Carlos Alberto Villarreal Noyola
        </span> <br>
        <cite style="margin: 10px 0px;">"Llevar a la humanidad a romper sus propios límites"</cite> <br>
        <span style="font-size: 1rem;">Físico y Matemático</span>
    </div>
    <div class="content-en" style="display: none;">
        <span style="font-size: 1.3rem; font-weight: bold; color: var(--color-titulos);">
            Carlos Alberto Villarreal Noyola
        </span> <br>
        <cite style="font-size: 1.2rem;">"Leading humanity to break its own limits"</cite> <br>
        <span style="font-size: 1rem;">Physicist and Mathematician</span>
    </div>
</div>