<!-- Load MathJax from CDN -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    window.MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        options: {
            ignoreHtmlClass: 'mermaid',
            processHtmlClass: 'mathjax-process'
        }
    };
</script>

<!-- Load Mermaid from CDN -->
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
    // Exponer mermaid globalmente para que otros scripts puedan re-renderizar
    window.mermaid = mermaid;
    // Initialize Mermaid
    mermaid.initialize({
        startOnLoad: false,
        theme: "base",
        fontFamily: '"CMU Serif", serif',
        themeVariables: {
            fontFamily: '"CMU Serif", serif',
            background: '#00000000',
            primaryColor: '#00000000',
            lineColor: '#505050',
            primaryBorderColor: '#505050',
            primaryTextColor: '#ffffffae',
        }
    });
</script>