---
---

<!-- Lenguaje: HTML + JavaScript -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Un pasado ajeno al tiempo</title>
    {% include analytics.html %}
</head>

<body>

    {% include selectorDeIdioma.html %}
    
    <article>
        <h1 class="content-es">Un pasado ajeno al tiempo</h1>
        <h1 class="content-en" style="display: none;">A past outside of time</h1>
        <p class="content-es">
            En principio, lo que aquí se narra debería recibir el nombre de historia, pero quién escribe ha sido incapaz
            de
            hacer otra cosa que plasmar sus recuerdos, los cuales carecen del rigor propio de tal epígrafe.
            <br><br>
            No ha sido mi intención de dar cuenta a los pormenores de los acontecimientos, los detalles que se han
            conservado son más que suficientes, flotan a la deriva en el olvido. Espero alcancen una nueva mente y allí
            perduren.
            <br><br>
            Solo he escrito un marco de referencia para el recuerdo y la posteridad. Uno que sirva algún día para
            facilitar
            la tarea de reconstruir los hechos a partir de la información disponible. Aunque huelga decirlo, dicha tarea
            no
            recaerá sobre ninguno de nosotros, sin embargo sigo anhelando que algún día llegue el momento de
            acontecerla.
            Por desgracia me temo que tal ocasión ni se dio en el ayer, ni se da en el presente ni se dará en el mañana.
            <br><br>
            <i>Espero el sol en su confín, al cambiar el ángulo de la luz, las nubes sobre mí comienzan a brillar como
                una
                multitud de pinturas frescas, abriéndose al tiempo. Luego, al cambiar su intensidad, veo las siluetas de
                las
                nubes proyectadas en el horizonte distante, las saludo con la mirada. Ellas hacen lo propio, y yo vuelvo
                a
                ser feliz al verlas de nuevo.
                <br><br>
                Que momento tan maravilloso, ideal para ponerse a recordar...</i>
        </p>
        <p class="content-en" style="display: none;">
            
        <figure>
            <img src="../assets/pasado/Atardecer sin sol.jpg"
                alt="Prólogo adaptado del libro 'El fin de la muerte' de Cixin Liu">
            <figcaption class="content-es" style="display: none;">
                Un atardecer sin sol en el horizonte, eclipse de sol en México. <br><br>
                
            </figcaption>
            <figcaption class="content-en" style="display: none;">
                A sunset with no sun on the horizon, solar eclipse in Mexico. <br><br>
               
            </figcaption>
        </figure>


    </article>

    <script src="../js/selectorDeIdioma.js"></script>
</body>

</html>