---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>{{ page.titulo-es }}</title>

    {% include analytics.html %}

</head>

<body>

    {% if page.portada != false %}
    <!-- Este condicional afecta a todas las portadas, si se desea que una pagina no tenga portada se debe poner 'portada: false' en el frontmatter, ejemplo en 'unpasadoajenoaltiempo.md' -->


    <!-- Portada en español con titulos e imagen de fondo sin frase -->

    {% if page.imagenPortada and page.frase-es == null %}
    <figure class="portada">
        <img src={{ page.imagenPortada }} alt={{ page.descripcionImagenPortada-es }}>
        <!-- Titulos en español -->
        <div class="portada-titulos content-es">
            <div class="portada-titulo">{{page.titulo-es}}</div>
            <div class="portada-subtitulo">{{page.subtitulo-es}}</div>
        </div>
        <figcaption class="content-es">{{ page.descripcionImagenPortada-es }}</figcaption>

        <!-- Titulos en ingles -->
        <div class="portada-titulos content-en" style="display: none;">
            <div class="portada-titulo">{{page.titulo-en}}</div>
            <div class="portada-subtitulo">{{page.subtitulo-en}}</div>
        </div>
        <figcaption class="content-en" style="display: none;">{{ page.descripcionImagenPortada-en }}</figcaption>
    </figure>
    {% endif %}


    <!-- Portada en español con frase e imagen de fondo (opcional) -->

    {% if page.frase-es and page.mediaPortada != true %}
    <figure class="portada content-es frase">
        <cite class="portada frase" style="--bg-image: url('{{ page.imagenPortada }}');">
            <span class="frase">{{ page['frase-es'] | markdownify }}</span>
            <span class="frase-autor">{{ page['frase-autor-es'] | markdownify }}</span>
            <span class="frase-contexto">{{ page['frase-contexto-es'] | markdownify }}</span>
        </cite>

        {% if page.imagenPortada %}
        <figcaption class="content-es">{{ page.descripcionImagenPortada-es }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    <!-- Portada en ingles con frase e imagen de fondo (opcional) -->

    {% if page.frase-en and page.mediaPortada != true %}
    <figure class="portada content-en frase" style="display: none;">
        <cite class="portada frase" style="--bg-image: url('{{ page.imagenPortada }}');">
            <span class="frase">{{ page['frase-en'] | markdownify }}</span>
            <span class="frase-autor">{{ page['frase-autor-en'] | markdownify }}</span>
            <span class="frase-contexto">{{ page['frase-contexto-en'] | markdownify }}</span>
        </cite>
        {% if page.imagenPortada %}
        <figcaption class="content-en" style="display: none;">{{ page['descripcionImagenPortada-en'] }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    <!-- Portada en ingles con frase o titulos e imagen a la mitad  -->

    {% if page.mediaPortada == true %}
    <section class="mediaPortada">
        {% if page.imagenPortada %}
        <figure>
            <img src={{ page.imagenPortada }} alt={{ page.descripcionImagenPortada-es }} >
        </figure>
        {% endif %}
        <div class="texto content-es">
            {% if page.titulo-en-portada != false %}
            <div class="portada-titulo">{{page.titulo-es}}</div>
            {% endif %}
            <div class="portada-subtitulo">{{page.subtitulo-es}}</div>
            <cite class="frase">{{ page['frase-es'] | markdownify }}</cite>
            <span class="frase-autor">{{ page['frase-autor-es'] | markdownify }}</span>
            <span class="frase-contexto">{{ page['frase-contexto-es'] | markdownify }}</span>
        </div>
        <div class="texto content-en">
            {% if page.titulo-en-portada != false %}
            <div class="portada-titulo">{{page.titulo-en}}</div>
            {% endif %}
            <div class="portada-subtitulo">{{page.subtitulo-en}}</div>      
            <cite class="frase">{{ page['frase-en'] | markdownify }}</cite>
            <span class="frase-autor">{{ page['frase-autor-en'] | markdownify }}</span>
            <span class="frase-contexto">{{ page['frase-contexto-en'] | markdownify }}</span>
        </div>
    </section>
    <figcaption class="content-es">{{ page.descripcionImagenPortada-es }}</figcaption>
    <figcaption class="content-en" style="display: none;">{{ page.descripcionImagenPortada-en }}</figcaption>
    {% endif %}

    <!-- Este end es del condicional 'if page.portada != false' que afecta a todas las portadas-->
    {% endif %}

    {% include selectordeidioma.html %}

    <!-- Si no hay imagen de portada, se muestran unicamente los titulos -->

    {% if page.imagenPortada == null or page.frase-es != null or page.portada == false %}
    <h1 class="content-es">{{ page.titulo-es }}</h1>
    <h1 class="content-en" style="display: none;">{{ page.titulo-en }}</h1>
    {% endif %}

    <article id="article">
        <div class="content-es">
            {{ page['content-es'] | markdownify }}
        </div>
        <div class="content-en" style="display: none;">
            {{ page['content-en'] | markdownify }}
        </div>
        
        {{content}}

    </article>



    <!-- Se insertan los elementos reutilizables de autor y footer  -->
    {% include autor.html %}
    {% include footer.html %}

    <!-- Se inserta el boton para descargar la pagina -->
    {% include descargarPagina.html %}
</body>

</html>