---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>{{ page.titulo }}</title>

    {% include analytics.html %}

</head>

<body>

    {% if page.imagenPortada %}
    <figure class="portada">
        <img src={{ page.imagenPortada }} alt={{ page.descripcionImagenPortada }}>
        <!-- Titulos en español -->
        <div class="portada-titulos content-es">
            <div class="portada-titulo">{{page.titulo-es}}</div>
            <div class="portada-subtitulo">{{page.subtitulo-es}}</div>
        </div>
        <figcaption class="content-es">{{ page.descripcionImagenPortada-es }}</figcaption>

        <!-- Titulos en ingles -->
        <div class="portada-titulos content-en" style="display: none;">
            <div class="portada-titulo">{{page.titulo-en}}</div>
            <div class="portada-subtitulo">{{page.subtitulo-en}}</div>
        </div>
        <figcaption class="content-en" style="display: none;">{{ page.descripcionImagenPortada-en }}</figcaption>
    </figure>
    {% endif %}

    {% include selectorDeIdioma.html %}

    <!-- Si no hay imagen de portada, se muestran los titulos -->
    {% if page.imagenPortada == null %}
    <h1 class="content-es">{{ page.title }}</h1>
    <h1 class="content-en" style="display: none;">{{ page.title-en }}</h1>
    {% endif %}

    {{content}}
    
    <article>
        <div class="content-es">
            {{ page['content-es'] | markdownify }}
        </div>
        <div class="content-en" style="display: none;">
            {{ page['content-en'] | markdownify }}
        </div>
    </article>

    <!-- Se inserta el boton para descargar la pagina -->

    {% include descargarPagina.html %}

    <!-- Se insertan los elementos reutilizables de autor y footer  -->

    {% include autor.html %}
    {% include footer.html %}

</body>

</html>