<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">

    <title>Plantilla</title>
</head>
<body>

<div class="portada">
        <img class="portada-imagen" src="/assets/plantilla/Mural-Sur-UNAM.jpg" alt="Mural Sur UNAM">
        <div class="portada-titulos">
                <div class="portada-titulo">UNAM</div>
                <div class="portada-subtitulo">Una ciudad dentro de otra ciudad</div>
        </div>
        <div class="portada-descripcion">Mural de la biblioteca central de la UNAM</div>
</div>      

<div class="articulo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi officiis, ex, eum dolorum consequuntur inventore officia nemo nobis quasi odit tempore ullam qui, ipsa distinctio aliquid non! Doloremque, cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita vitae illum dolorem nulla laudantium suscipit, dignissimos mollitia quo ex quisquam nemo ut eum veritatis, quam aliquam eveniet eaque numquam ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero ab, eos ex assumenda error ut laudantium facere excepturi quae eaque consectetur unde consequuntur numquam debitis modi placeat accusantium quibusdam.</p>
    
    <img src="/assets/plantilla/Dos-barcos.jpg" alt="Dos barcos" class="anchura-completa">
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, officiis optio suscipit deserunt totam omnis veritatis? Pariatur amet sit doloremque. Sunt, facere. Nam veniam possimus iure explicabo recusandae nesciunt exercitationem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, minima et! Odit, natus veniam doloribus id tempore similique accusamus harum sunt laboriosam praesentium deserunt, repellendus quisquam aliquid. Quasi, sit ipsa?</p>
    
    <img src="/assets/plantilla/Dos-barcos.jpg" alt="Dos barcos" class="anchura-al-texto">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate debitis temporibus natus odit. Saepe aliquam dicta maiores repellat molestiae eaque atque quibusdam, maxime mollitia ex reprehenderit officia, optio expedita <quidem class="lo"></quidem></p>

</div>



</body>
</html>
