---
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>{{ page.title }}</title>

    {% include analytics.html %}

</head>

<body>

    {% include selectordeidioma.html %}

    <main>

        <article>
            <div class="content-es">
                {{ page['content-es'] | markdownify }}
            </div>
            <div class="content-en" style="display: none;">
                {{ page['content-en'] | markdownify }}
            </div>
        </article>

    </main>

    <!-- Se insertan los elementos reutilizables de autor y footer  -->

    {% include autor.html %}
    {% include footer.html %}

</body>

</html>