---
---

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>{{ page.titulo }}</title>

    {% include analytics.html %}

</head>
<body>

    <figure class="portada">
        <img src={{ page.imagenPortada }} alt={{ page.descripcionImagenPortada }}>
        <div class="portada-titulos">
            <div class="portada-titulo">{{page.titulo}}</div>
            <div class="portada-subtitulo">{{page.subtitulo}}</div>
        </div>
        <figcaption>{{ page.descripcionImagenPortada }}</figcaption>
    </figure>

    <article>

        {% include selectordeidioma.html %}

        <p>{{ content }}</p>

        <figure>
            <img src="/assets/plantilla/Dos-barcos.jpg" alt="Dos barcos" class="anchura-completa">
            <figcaption>Figura 1: Dos barcos navegando</figcaption>
        </figure>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, officiis optio suscipit deserunt totam
            omnis veritatis? Pariatur amet sit doloremque. Sunt, facere. Nam veniam possimus iure explicabo recusandae
            nesciunt exercitationem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, minima et! Odit,
            natus veniam doloribus id tempore similique accusamus harum sunt laboriosam praesentium deserunt,
            repellendus quisquam aliquid. Quasi, sit ipsa?</p>

        <figure class="anchura-completa">
            <img src="/assets/plantilla/Dos-barcos.jpg" alt="Dos barcos">
            <figcaption>Figura 2: Dos barcos navegando</figcaption>
        </figure>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus neque eius qui, sed consequuntur expedita
            dolorum, velit enim illo delectus ut, magnam aperiam ad nostrum optio reprehenderit a saepe corrupti. Lorem
            ipsum, dolor sit amet consectetur adipisicing elit. Ducimus asperiores dolor itaque minus nemo aperiam
            aliquid porro eaque ipsam quam sunt quibusdam autem assumenda facere quis repellat, voluptatibus excepturi
            error.</p>

        <section>
            <h2>Sección</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, dicta aliquid. Recusandae, nisi incidunt,
                blanditiis soluta est veritatis quod cumque aut non magnam temporibus, ipsa debitis laudantium.
                Doloremque, rem est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolor quia sit dolore
                cumque aut qui sint, recusandae consequatur facilis eius exercitationem ipsum pariatur corporis magnam
                quisquam obcaecati eligendi. Sequi! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
                minima ducimus dicta velit aliquid ullam facere sapiente architecto nam repudiandae, repellat totam, ad
                iure alias reiciendis quidem optio? Voluptatum, dolorem!</p>
        </section>
        <section> 

        <h2>Capítulo</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, dicta aliquid. Recusandae, nisi incidunt,
            blanditiis soluta est veritatis quod cumque aut non magnam temporibus, ipsa debitis laudantium. Doloremque,
            rem est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis deleniti ad eligendi cum ducimus
            repellendus necessitatibus officiis, a minus tempora. Quis sapiente error necessitatibus, dicta quae
            cupiditate rem iusto minima? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure modi ratione sint
            accusantium dolore, corrupti harum. Sint numquam maiores ex corporis. Voluptatibus beatae veniam omnis
            impedit fuga minus sed sequi.</p>
        </section>

    </article>

    <!-- Se insertan los elementos reutilizables de autor y footer  -->

    {% include autor.html %}
    {% include footer.html %}

    {% include descargarPagina.html %}
</body>

</html>